# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc

# Database
*.sqlite3

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Local development settings
local_settings.py 